<!-- headset && x-mark svg -->
<div class="  group">
    <div x-on:click="changeicon = ! changeicon"
        class="w-14 h-14 bg-[#ef4056] text-white rounded-full flex items-center justify-center  fixed bottom-2 left-12  cursor-pointer  ">

        <span x-init="$el.innerHTML=(await axios.get('/digi/src/components/poshtibany/svgs/headset-svg.html')).data"
            x-bind:class="! changeicon ? '' : 'hidden'"  x-show="" > 

        </span>

        <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/x-mark-svg.html')).data"
            x-bind:class="! changeicon ? 'hidden' : ''">

        </span>

    </div>

        <div x-show="changeicon"
        class="w-96 h-96 bg-white border border-solid border-red-500 rounded-2xl  fixed   left-14 bottom-20 overflow-hidden ">


        <div  class=" bg-[#ef4056] text-white flex items-center justify-between px-5 py-4">
            <span class="text-2xl">پشتیبانی آنلاین</span>

            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/arrow-left-svg.html')).data" x-on:click="changeicon = ! changeicon"
                 class="cursor-pointer w-6 h-6">

            </span>

        </div>
        <!-- ===========-->
        <div class="  h-80  overflow-y-scroll">
            <div class="px-2 pt-6 ">
                <div>
                    <div class="flex gap-x-1">
                        <span class=" text-lg">سلام </span>

                        <span
                            x-init="$el.innerHTML=(await axios.get('/digi/src/components/poshtibany/svgs/hand-raised-svg.html')).data"
                            class="w-4 h-4">
                        </span>

                        <span
                            x-init="$el.innerHTML=(await axios.get('/digi/src/components/poshtibany/svgs/hand-raised-svg.html')).data"
                            class="w-4 h-4">
                        </span>

                    </div>

                    <p class=" text-lg  ">
                        اینجا می‌توانید تعدادی از پرسش های متداول را ببینید یا در صورت تمایل با ما آنلاین گفتگو کنید!


                    </p>

                </div>
                <!-- ====== -->
                <div class="  border rounded-lg px-4  mt-6">

                    <div  x-on:click="changeup=!changeup" class=" support-card cursor-pointer">
                        <p class="text-xl font-medium ">چگونه میتوانم یک پروفایل ایجاد کنم؟</p>

                        <div class="mr-auto cursor-pointer">

                            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-down-svg.html')).data"
                                x-bind:class="changeup?'hidden':''" x-show="changedown"
                                class="w-4 h-4  mr-auto  block ">

                            </span>
                            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-up-svg.html')).data"
                                x-on:click="changeup=!changeup" x-show="changeup"
                                class="w-4 h-4  mr-auto  ">

                            </span>

                        </div>

                    </div>

                    <div x-show="changeup" class="">


                        <hr />
                        <p class="text-lg  py-5">
                            در وب سایت روی گزینه "ثبت نام" کلیک کنید. میتوانید با استفاده از شماره موبایل ثبت نام خود را
                            انجام دهید. (کد فعال سازی برایتان پیامک میشود .) بعد از وارد نمودن کد فعالسازی ، ثبت نام
                            انجام می شود. سپس روی گزینه تکمیل اطلاعات کلیک و اطلاعات خود را تکمیل نمایید.
                        </p>
                    </div>
                </div>
                <!-- ===== -->
                <div class=" border rounded-lg px-4 mt-2">
                    <div  x-on:click="changeup1 = ! changeup1"  class="support-card mt-2 cursor-pointer ">
                        <p class="text-xl font-medium  ">چطور در دیجی کالا سفارش خود را ثبت کنم ؟</p>

                        <div class="mr-auto">
                            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-down-svg.html')).data"
                               x-bind:class="changeup1?'hidden':''"
                                x-show="changedown1" class="w-4 h-4 block">

                            </span>

                            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-up-svg.html')).data"
                                x-show="changeup1" x-on:click="changeup1=!changeup1">

                            </span>
                        </div>
                    </div>
                    <div x-show="changeup1" class="">
                        <hr />
                        <p class="text-lg  py-4">
                            بعد از ورود به پروفایل ، کالای مدنظر خود را به سبد خرید اضافه کنید ، پس از انتخاب آدرس
                            میتوانید نوع پرداخت خود را انتخاب کنید.بعد از اتمام ثبت سفارش ، سیستم کد سفارش شما را نمایش
                            خواهد داد.
                        </p>
                    </div>

                </div>

                <!-- =========    -->
                <div class=" border rounded-lg px-4 mt-2">
                    <div  x-on:click="changeup2= !changeup2" class="support-card mt-2 cursor-pointer ">
                        <p class="text-xl font-medium">کالایی را که در طرح پیشنهاد شگفت انگیز می باشد می توان با
                            تعداد بیش از یک عدد
                            خریداری کرد؟</p>
                        <div class="mr-auto">

                            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-down-svg.html')).data" x-bind:class="changeup2? 'hidden':''"
                            x-show="changedown2"
                                class="w-4 h-4 block">

                            </span>

                            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-up-svg.html')).data"
                            x-show="changeup2" x-on:click="changeup2=!changeup2"  >

                            </span>
                        </div>
                    </div>

                    <div x-show="changeup2">
                        <hr />
                        <p class="text-lg  py-4">
                            به دلیل اینکه طرح پیشنهاد شگفت انگیز یک طرح تشویقی خرید است، دیجی‌کالا تعهدی در قبال
                            سفارش‏‌های
                            تعدادی ندارد و در صورتی که امکان فروش بیشتر از یک عدد وجود داشته باشد، هماهنگی‏‌های لازم با
                            مشتری انجام خواهد شد.

                        </p>
                    </div>

                </div>

                <!-- ===== -->
                <div class="px-8 my-6  flex flex-col items-center">

                    <div
                        class="w-40 bg-[#ef4056] rounded-full text-white flex items-center justify-center gap-2 cursor-pointer  p-3 ">

                        <span class="text-lg">تماس با ما </span>
                        <span
                            x-init="$el.innerHTML=(await axios.get('/digi/src/components/svgs/chevron-left-svg.html')).data">

                        </span>


                    </div>
                </div>



            </div>
        </div>
    </div>
</div>