<div>
    <h2 class="text-3xl text-center mt-7">منتخب محصولات تخفیف و حراج </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-6  px-4 mt-10 ">

        <a href="#">
            <img src="../dist/img/montakhab/40026b18c2b053ac4a68c3288556dc899a77aecd_1689665133.webp"
                alt="گوشی موبایل اپل">
            <div>
                <span>۱۵.۰۰۰.۰۰۰ تومان</span>

            </div>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/40b825ebb00de3826de00cc8154981ac59309770_1656426771.webp"
                alt="گوشی موبایل شیائومی">
            <div>
                <div class="takhfif ">۱۷٪</div>
                <span>۸.۲۹۹.۰۰۰ تومان</span>
            </div>
            <del>۱۰.۰۰۰.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/5736effa9a902bf6933fa384f0c1667743bc1532_1689762188.webp"
                alt=" کاور گاردتک اساک">
            <div>
                <div class="takhfif">۸۰٪</div>
                <span>۱۶۰.۰۰۰ تومان</span>
            </div>
            <del>۸۰۰.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/9df716f5b7cbb9bd3491096fef103ad32bc25717_1669122307.webp"
                alt="کاور مدل تکه طلا">
            <div>
                <div class="takhfif">۷۹٪</div>
                <span>۳۰.۰۰۰ تومان</span>
            </div>
            <del>۱۴۵.۶۶۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/c09f044aa8e7df535ea9ed2b5cfbfb4a4d7554b2_1675422692.webp"
                alt="ساعت هوشمند رادیانت">
            <div>
                <div class="takhfif">۷۰٪</div>
                <span>۱.۹۲۰.۰۰۰ تومان</span>
            </div>
            <del>۶.۳۴۹.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/e39791c14331e48d9c42ed9d58ebfb6921b620ed_1687593416.webp"
                alt="ws68 Ultra ساعت هوشمند مدل">
            <div>
                <div class="takhfif">۷۷٪</div>
                <span>۸۰۰.۰۰۰ تومان</span>
            </div>
            <del>۳.۵۰۰.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/1fafefa0ce8c0e6af33566ca8ac89c3893a65d17_1684153276.webp"
                alt="گوشی موبایل هوآوی">
            <div>

                <span>۹.۰۹۹.۰۰۰ تومان</span>
            </div>

        </a>

        <a href="#">
            <img src="../dist/img/montakhab/32223ffb51fa0f9fc099020ed0620a0480c46b07_1694682101.webp"
                alt="v1.01 ساعت هوشمند مدل ">
            <div>
                <div class="takhfif">۶۶٪</div>
                <span>۱.۸۹۰.۰۰۰ تومان</span>
            </div>
            <del>۵.۵۰۰.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/3d34ed0aa53506832e2a36fd73cb25f7be85470f_1691825250.webp"
                alt="هندزفری بلوتوثی">
            <div>
                <div class="takhfif">۸۲٪</div>
                <span>۱۷۱.۰۰۰ تومان</span>
            </div>
            <del>۹۵۰.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/54eab84c83d2335de43895c4a29706cfa5accff5_1693400411.webp"
                alt="v2.0.9 ساعت هوشمند مدل ">
            <div>
                <div class="takhfif">۶۶٪</div>
                <span>۱.۸۹۰.۰۰۰ تومان</span>
            </div>
            <del>۵.۵۰۰.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/865fd31316608a54d2fdb8f14292c9b5c6724ed4_1691846064.webp"
                alt="هندزفری بلوتوثی کلو">
            <div>
                <div class="takhfif">۸۱٪</div>
                <span>۲۷۷.۸۰۰ تومان</span>
            </div>
            <del>۱.۵۰۰.۰۰۰</del>
        </a>

        <a href="#">
            <img src="../dist/img/montakhab/d3ab182de879fe3d2b5bde8d5ad9457db8c91a5d_1656428595.webp"
                alt="گوشی موبایل هوآوی">
            <div>

                <span>۵.۲۹۹.۰۰۰ تومان</span>
            </div>

        </a>

        <a href="#">
            <img src="../dist/img/montakhab/9e8800294b61f6c374c58e5863a13e9b967384ff_1681759470.webp"
                alt="کاور کلومن مدل الکتروپلیتینگ">
            <div>
                <div class="takhfif">۸۰٪</div>
                <span>۴۹.۰۰۰ تومان</span>
            </div>
            <del>۲۵۰.۰۰۰</del>

        </a>

        <a href="#">
            <img src="../dist/img/montakhab/7c6584ed32557ee8d5df80d81134ff8cf55b6de6_1672481933.webp"
                alt="گوشی موبایل سامسونگ">
            <div>

                <span>۳.۱۸۰.۰۰۰ تومان</span>
            </div>

        </a>
        
        <a href="#">
            <img src="../dist/img/montakhab/119842138.webp" alt="لپ تاپ ۱۵ اینچی مایکروسافت">
            <div>
                <div class="takhfif">۳۶٪</div>
                <span>۶۳.۰۰۰.۰۰۰ تومان</span>
            </div>
            <del>۹۸.۰۰۰.۰۰۰</del>

        </a>

        <a href="#">
            <img src="../dist/img/montakhab/4ff2ee03d9182d1e2a7ee5cb7403f099ed2926dc_1692196999.webp"
                alt="لپ تاپ ۱۵.۶ اینچی ایسوس">
            <div>
                <div class="takhfif">۲۲٪</div>
                <span>۳۹.۷۸۰.۰۰۰ تومان</span>
            </div>
            <del>۵۱.۰۰۰.۰۰۰</del>

        </a>

        <a href="#">
            <img src="../dist/img/montakhab/6d38cccc0be83fe974d0398a6279b27561f783dc_1686400816.webp"
                alt="لپ تاپ ۱۵.۶ اینچی ایسر">
            <div>
                <div class="takhfif">۲۲٪</div>
                <span>۱۴.۹۰۰.۵۰۰ تومان</span>
            </div>
            <del>۱۹.۰۰۰.۰۰۰</del>

        </a>

        <a href="#">
            <img src="../dist/img/montakhab/d1b3cdef7f7cad9882443afcbdba2f9f1d74cd23_1687464633.webp"
                alt="ultra8 iwatch ساعت هوشمند مدل ">
            <div>
                <div class="takhfif">۶۳٪</div>
                <span>۹۸۰.۵۰۰ تومان</span>
            </div>
            <del>۲.۶۵۰.۰۰۰</del>

        </a>


    </div>
</div>