<div class="public-card grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 mt-7">
    <!-- col-1 -->
    <div class="mahsolate-iteams">
        <div>
            <h3 class="text-xl mb-2 ">کفش ورزشی مردانه</h3>
            <span class="">بر اساس بازدیدهای شما</span>

        </div>

        <div class="grid grid-cols-2">
            <a href="#" class=" border-l border-b"><img
                    src="../dist/img/more/shoes/3b54d66b31468160ca6ac5c49d00eda78f1c5a05_1654346266.jpg" alt=""></a>
            <a href="#" class=" border-b"><img
                    src="../dist/img/more/shoes/ab38625a30baf2719dea99870464bdeaf5216f97_1635343303.jpg" alt=""></a>
            <a href="#" class=" border-l"><img
                    src="../dist/img/more/shoes/e0166588efbf86beeb70ae08c734f5eb55bb2ec4_1670421938.jpg" alt=""></a>
            <a href="#"><img src="../dist/img/more/shoes/7eab27cb93ccf379e64db6e3ddbdc65534bf412b_1658260874.jpg"
                    alt=""></a>
        </div>

        <div class="flex items-center justify-center cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>
            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data"
                class="w-3 h-3 text-[#19bfd3]">

            </span>

        </div>
    </div>
    <!-- col-2 -->
    <div class="mahsolate-iteams">
        <div>
            <h3 class="text-xl mb-2 ">لپ تاپ و الترابوک</h3>
            <span class="">بر اساس بازدیدهای شما</span>

        </div>

        <div class="grid grid-cols-2">
            <a href="#" class=" border-l border-b"><img
                    src="../dist/img/more/laptop/3d43ef063bd1855ac35ec713873ed98095fdc09b_1671470199.jpg" alt=""></a>
            <a href="#" class=" border-b"><img
                    src="../dist/img/more/laptop/50c904d782011abc8cb712abac1d51df2b7a2297_1671299236.jpg" alt=""></a>
            <a href="#" class=" border-l"><img
                    src="../dist/img/more/laptop/74431f726f54312409d58674c4ed0ad541d6ec64_1672079529.jpg" alt=""></a>
            <a href="#"><img src="../dist/img/more/laptop/cf7840133c7b2d42979c3129a96008e5b166ac0d_1652159197.jpg"
                    alt=""></a>
        </div>
        <div class="flex items-center justify-center cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>

            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data"
                class="w-3 h-3 text-[#19bfd3]">

            </span>

        </div>
    </div>
    <!-- col-3 -->
    <div class="mahsolate-iteams">
        <div>
            <h3 class="text-xl mb-2 ">ماشین</h3>
            <span class="">بر اساس بازدیدهای شما</span>

        </div>

        <div class="grid grid-cols-2">
            <a href="#" class=" border-l border-b"><img
                    src="../dist/img/more/car/21b820fe514e31f4715fa29e882fa521d9e363b1_1660373798.jpg" alt=""></a>
            <a href="#" class=" border-b"><img
                    src="../dist/img/more/car/2df8c0ad39bd746d2b339b373e2d222379726b7a_1633248793.jpg" alt=""></a>
            <a href="#" class=" border-l"><img
                    src="../dist/img/more/car/2ef6f567848b3c7d2a05e8b15cee279517d8f336_1612801080.jpg" alt=""></a>
            <a href="#"><img src="../dist/img/more/car/5b28799ddbe0c06c3916d03f45dae39d206829e1_1660594815.jpg"
                    alt=""></a>
        </div>
        <div class="flex items-center justify-center cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>
            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data"
                class="w-3 h-3 text-[#19bfd3]">

            </span>

        </div>
    </div>
    <!-- col-4 -->
    <div class="p-5  space-y-3">
        <div>
            <h3 class="text-xl mb-2 ">آشنایی با فنون</h3>
            <span class="">بر اساس بازدیدهای شما</span>

        </div>

        <div class="grid grid-cols-2">
            <a href="#" class=" border-l border-b"><img
                    src="../dist/img/more/fonon/1e898f50219f0b7e211ba9fdc6cfa2c114708869_1645523389.jpg" alt=""></a>
            <a href="#" class=" border-b"><img
                    src="../dist/img/more/fonon/4840dc8cbd62ec7e9ac901e542cf32ce7e39a213_1636549953.jpg" alt=""></a>
            <a href="#" class=" border-l"><img
                    src="../dist/img/more/fonon/d0e09197052640a5461ac61fc3b22b77f1eb1435_1625166217.jpg" alt=""></a>
            <a href="#"><img src="../dist/img/more/fonon/e3ce9c627823fd19f7b6627ce059c889e2bd556a_1630784095.jpg"
                    alt=""></a>
        </div>
        <div class="flex items-center justify-center cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>

            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data"
                class="w-3 h-3 text-[#19bfd3]">

            </span>

        </div>
    </div>

</div>