<div id="items-digiget" class="grid grid-cols-4 md:grid-cols-8 grid-flow-row  justify-items-center"> 

    <div>
        <a href="#"><img src="../dist/img/digijet/01.png" class="w-14 h-14  " alt="دیجی کالا جت">
            <span>دیجی کالا جت </span>
        </a>
    </div>

    <div>
        <a href="#"><img src="../dist/img/digijet/02.png" class="w-14 h-14" alt="حراج استایل">
            <span>حراج استایل</span>
        </a>
    </div>
    <div>
        <a href="#"><img src="../dist/img/digijet/03.png" class="w-14 h-14 items-center" alt="خرید اقساطی">
            <span>خرید اقساطی</span>
        </a>
    </div>
    <div>
        <a href="#"><img src="../dist/img/digijet/04.png" class="w-14 h-14" alt="خرید عمده و سازمانی">
            <span>خرید عمده و سازمانی </span>
        </a>
    </div>

    <div>
        <a href="#"><img src="../dist/img/digijet/05.png" class="w-14 h-14" alt="چرخ و بخت">
            <span>چرخ و بخت</span>
        </a>
    </div>

    <div>
        <a href="#"><img src="../dist/img/digijet/06.png" class="w-14 h-14 " alt="دیجی پلاس">
            <span>دیجی پلاس </span>
        </a>
    </div>

    <div>
        <a href="#"><img src="../dist/img/digijet/07.png" class="w-14 h-14" alt="ماموریت ها">
            <span>ماموریت ها</span>
        </a>
    </div>

    <div>
        <a href="#">
            <div class="bg-[#f1f2f4] w-14 h-14 rounded-full flex items-center justify-center   ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-12 h-12 text-[#566287]">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>
            </div>
            <span>بیشتر</span>
        </a>

    </div>

 </div> 



