<div class=" public-card py-8 relative  overflow-x-hidden">
    <h1 class="text-center text-2xl mb-3">محبوبترین برندها</h1>

   <!-- chevron-right -->
    <div class="slider-arrow text-[#ababbb] bottom-12 right-2">
        <span x-html="(await axios.get('/digi/src/svgs/chevron right.html')).data" class="w-4 h-4">

        </span>
        
    </div>
       <!-- chevron-left -->
    <div class="slider-arrow text-[#ababbb] bottom-12 left-2">
        <span x-html="(await axios.get('/digi/src/svgs/chevron-left.html')).data" class="w-4 h-4">

        </span>
      

    </div>

    <div id="mahbobtarinha" class="  flex flex-row   w-[1000rem] py-2 ">


        <div>
            <img src="../dist/img/mahbobtarinha/2c36ceb629598fa31b9b321fcd4e47773bd93ef7_1649498016 (1).png"
                 alt="پریل">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/2c36ceb629598fa31b9b321fcd4e47773bd93ef7_1649498016.png"
                 alt="پرسیل">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/5f9e5a98fc72f4eac2d4b4e6e4e6399ebd9aa65c_1646565463.png"
                 alt="زر ماکارون">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/9f74161dd136485ac79f5ca5e829b2340419b084_1666776495.jpg"
                 alt="چشمه نور">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/311.png"  alt="pril">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/627f3a8485f2884e7ae2951adf0761fc3792495e_1627386509.png"
                 alt="کاله">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/2994.png"  alt="BIOAQUA   ">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/3960.jpg"  alt="pril">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/3972.png"  alt="SAMSUNG">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/5518.png"  alt="MY">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/6091.png"  alt="TSCO">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/100010929.png"  alt="KINGSRAR">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/af664f0bcf9bc412b741c618e6e52fc2d090198f_1619269008.png"
                 alt="PAKSHOMA">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/b46a720b21296adc1c9d21b931c8d978d0f5f771_1621675109.jpg"
                 alt="HUAWEI">
        </div>

        <div>
            <img src="../dist/img/mahbobtarinha/f660c46ffc6d58a19e5c0af9d03c50be9a929571_1627214766.png"
                 alt="FRESH">
        </div>


    </div>
</div>