<!-- chevron-right -->
<div class="slider-arrow bottom-28 right-3  ">
    <span x-html="(await axios.get('/digi/src/svgs/chevron right.html')).data" class="w-4 h-4">
    </span>
</div>
<!-- chevron-left -->
<div class="slider-arrow  bottom-28 left-3 ">
    <span x-html="(await axios.get('/digi/src/svgs/chevron left.html')).data" class="w-4 h-4">
    </span>
</div>

<div class="flex  flex-row  ">
    <div class="py-6 px-12">
        <a href="#" class="flex flex-col items-center justify-center">
            <img src="../dist/img/pishnahad shegeft angiz/Amazings.svg" class="w-24" alt="پیشنهاد شگفت انگیز">
            <img src="../dist/img/pishnahad shegeft angiz/box.webp" class="w-40 my-1" alt="">
            <div class="flex items-center text-white gap-x-1">
                <span>مشاهده همه</span>
                <span  x-html="(await axios.get('/digi/src/svgs/chevron left.html')).data" class="w-3 h-3">
                    
                </span>
            </div>

        </a>
    </div>

    <div class="flex gap-x-1 w-[100rem] overflow-hidden ">
        <a href="#" class=" pishnahad-shegeft rounded-r-lg">
            <img src="../dist/img/pishnahad shegeft angiz/469a71eebf32e74430a9fc89259722bb4c0fdf8a_1663752125.webp"
                 alt="x 10 plus گوشی موبایل جی پلاس مدل ">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۶٪</div>
                <span>۳.۴۵۹.۰۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۳.۶۹۰.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/95e9a7327d1f8650f13794a7c33917d9d130b987_1660478804.webp"
                 alt="  Phone 1 گوشی موبایل ناتینگ مدل  ">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۳٪</div>
                <span>۱۶.۸۹۹.۰۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۱۷.۵۰۰.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/2604f4fd2e2c8b8bcb9207779a6f1a688cd4f3dd_1691396839.webp"
                 alt="Moto G13 گوشی موبایل موتورولا مدل ">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۶٪</div>
                <span>۵.۷۹۹.۰۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۵.۹۹۹.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/f2ae285ff906c68596ce94374d9cec46fe6be0cf_1691105603.webp"
                alt="دفتر مشق ۱۰۰ برگ تیما">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۶٪</div>
                <span>۲۷۸.۵۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۳۶۰.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/0b2e3005018fdf230677adbaae7cbfec9bab533d_1652610255.webp"
                 alt="L-19 هدست مخصوص بازی لیتو مدل ">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۶٪</div>
                <span>۶۲۴.۰۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۹۶۰.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft"> 
            <img src="../dist/img/pishnahad shegeft angiz/06d069a78de375c5835abc9543780b0494f762cf_1633592462.webp"
                alt="th 5072 هندزفری تسکو مدل ">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۴۰٪</div>
                <span>۱۲۸.۰۰۰ تومان </span>
               
            </div>
            <del class="text-[#c7c8cb]">۷۶.۸۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/631e699a81b9aa593785a48661bf861df8e35ab7_1675868824.webp"
               alt="LT-19 هدفون بیسیم لیتو مدل ">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۶۵٪</div>
                <span>۲.۸۰۰.۰۰۰ تومان </span>
               
            </div>
            <del class="text-[#c7c8cb]">۹۸۰.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/b2c0eb53f0eeacdefb8771155bf5e4887222a654_1688388473.webp"
               alt="لپ تاپ 3/13 اینچی اپل">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۶٪</div>
                <span>۴۰.۸۷۹.۰۰۰ تومان </span>
               
            </div>
            <del class="text-[#c7c8cb]">۴۳.۴۰۰.۰۰۰</del>
        </a> 

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/cdcbdda6db9c4e00a5fbfceaf386b1963a31fd54_1644018813.webp"
                 alt="دفتر نقاشی 100 برگ تیما">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۲۰٪</div>
                <span>۴۴.۸۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۳.۶۹۰.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/9e673446e4ca8d4b2bda31d68456f5711a7d1e36_1691751115.webp"
                alt="TEL روان نویس مدل خرگوش ">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۴۸٪</div>
                <span>۲۱.۰۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۴۰.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft">
            <img src="../dist/img/pishnahad shegeft angiz/119618348.webp" 
                alt="لامپ ال ای دی 9 وات مدل لیتومکس">
            <div class="flex gap-x-5 mt-4">
                <div class="takhfif">۲۹٪</div>
                <span>۷۷.۰۰۰ تومان </span>

            </div>
            <del class="text-[#c7c8cb]">۵۵.۰۰۰</del>
        </a>

        <a href="#" class=" pishnahad-shegeft justify-center rounded-l-lg ">

            <div class="flex flex-col items-center justify-center gap-y-5 p-10 ">
                <div
                    class="flex items-center justify-center w-10 h-10  rounded-full  text-[#27c3d5] border border-[#27c3d5]">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>

                </div>
                <span>مشاهده همه</span>

            </div>

        </a>

    </div>

</div>