<div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 gap-4 my-12 px-4">

    <a href="#" class="rounded-2xl overflow-hidden">
        <img src="../dist/img/tablighat/d5186195d5cfbde723226735a1077019e20ed9a3_1676702889.jpg" alt="هیدرودرم"
            title="پارتنر شیپ -هیدرودرم">
    </a>

    <a href="#" class="rounded-2xl overflow-hidden">
        <img src="../dist/img/tablighat/ab141e77b5e13803a969b39a1f8bd935751f51ab_1676464244.jpg"
            alt="  بیسکوییت سلامت" title="پارتنر شیپ-سلامت">
    </a>

</div>