<div class="flex flex-col gap-y-3  items-center md:flex-row md:space-y-0 py-5 px-9">

    <div>
        <a href="#" class="flex  gap-6 ">
            <img src="../dist/img/shegeft angiz/freshbasket.webp" class="w-14 h-14" alt="کالاهای سوپر مارکتی">

            <img src="../dist/img/shegeft angiz/fresh0.svg" class="w-56 " alt="شگفت انگیز لوگو">
        </a>

    </div>
    <!-- ===== -->
    <div class="flex gap-2 md:mr-auto">

        <div class="relative">
            <a href="#" class="shegeft-item">
                <img src="../dist/img/shegeft angiz/decdcf52af34b86d57557c938f62751ba7882729_1652162618.webp"
                    class="w-12 h-12" alt="ذرت">
            </a>
            <div class="takhfif bottom-1 absolute">
                <span>۴۰٪</span>
            </div>
        </div>

        <div class="relative">
            <a href="#" class="shegeft-item">
                <img src="../dist/img/shegeft angiz/64e186cc95f20541229742fb06edfe725abd4161_1673693963.webp" class=""
                    alt="مسواک سیگنال">
            </a>
            <div class="takhfif bottom-1 absolute">
                <span>۳۸٪</span>
            </div>
        </div>

        <div class="relative">
            <a href="#" class="shegeft-item">
                <img src="../dist/img/shegeft angiz/29da02554e9afeff9a1ec809acb9019adbe207a5_1638971009.webp" class=""
                    alt="استیک">
            </a>
            <div class="takhfif bottom-1 absolute">
                <span>۵۰٪</span>
            </div>
        </div>

        <div class="relative">
            <a href="#" class="shegeft-item">
                <img src="../dist/img/shegeft angiz/38672c57d3883863460e36b95b025a23d0e59405_1611049006.webp"
                    alt="اسپری پاک کننده سطوح">
            </a>
            <div class="takhfif bottom-1 absolute">
                <span>۲۵٪</span>
            </div>
        </div>

        <div class="relative">
            <a href="#" class="shegeft-item">
                <img src="../dist/img/shegeft angiz/876a014bbd8aa4533111ddbf867331642f30ef28_1595670253.webp"
                    alt="همبرگر">
            </a>
            <div class="takhfif bottom-1 absolute">
                <span>۱۰٪</span>
            </div>
        </div>

        <div class="relative">
            <a href="#" class="shegeft-item">
                <img src="../dist/img/shegeft angiz/491d1253c1356a6d23d3c298a11c238d3e495a2b_1671603815.webp"
                    alt="شیشه پاک کن من">
            </a>
            <div class="takhfif bottom-1 absolute">
                <span>۴۳٪</span>
            </div>
        </div>

    </div>

    <div class="flex items-center justify-center bg-white rounded-full mr-2 px-4 py-3 ">
        <a href="#" class="flex items-center  gap-2  text-green-500  ">
            <span>بیش از ۵۰ کالا</span>
            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/arrow-left-svg.html')).data" class="w-4 h-4">
               
            </span>
        </a>
    </div>

</div>