<div class="grid  grid-cols-1  sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 items-center  gap-5 ">
    <div>
        <a href="#">

            <img src="../dist/img/tablighat/3f03bfd2649b2bd7978b2dd33b5e4b16a6ce91b9_1685177045.webp" alt="پنکه">
        </a>
    </div>

    <div>
        <a href="#">
            <img src="../dist/img/tablighat/9ee9d49fb91c875ca390d29d45decd25d7d1097b_1679745917.webp" alt="طلا">
        </a>
    </div>

    <div>
        <a href="#">
            <img src="../dist/img/tablighat/a3b04f893d066b07a9992bcf3037e86e6b4f3360_1685371582.webp" alt="هواپز">
        </a>
    </div>

    <div>
        <a href="#">
            <img src="../dist/img/tablighat/b9b006b6fe4277b07140519788c632e933d19f21_1684932458.webp"
                alt="لوازم خانگی تولیپس">
        </a>
    </div>


</div>