<div class="public-card grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 mt-7 ">
    <!-- col-1 -->
    <div class="mahsolate-iteams">
        <div>
            <h3 class="text-xl mb-2">گوشی موبایل</h3>
            <span>بر اساس بازدیدهای شما</span>
        </div>

        <div class="grid grid-cols-2  ">
            <a href="#">
                <img src="../dist/img/more/mobile/2feb49e3ed670f92e5b6895e2f4e6d33a52fa427_1665837496.jpg"
                    alt="" class="border-l border-b p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/mobile/6d0ac0a28c34c29f7dd3019caef0fdb376afefb2_1664877785.jpg"
                    alt="" class="border-b p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/mobile/9195e7d7ca87e8dac34d10c2af9a7567a0048363_1663692449.jpg"
                    alt="" class="border-l p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/mobile/b62280a1e06646176c412cf4da9ffa5c2acd4efb_1665995576.jpg"
                    alt="" class="p-3">
            </a>
        </div>

        <div class="flex items-center justify-center gap-x-1 cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>
            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data" class="w-3 h-3 text-[#19bfd3]">
                
            </span>
        </div>

    </div>

    <!-- col-2 -->
    <div class="mahsolate-iteams">
        <div>
            <h3 class="text-xl mb-2">کیف و کاور گوشی</h3>
            <span>بر اساس بازدیدهای شما</span>
        </div>

        <div class="grid grid-cols-2  ">
            <a href="#">
                <img src="../dist/img/more/cover/6ba1bc2068d0acfe9f6f00a0e50d85b71365f22d_1674284016.jpg" alt=""
                    class="border-l border-b p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/cover/71a0cf2f3f277fab767a74a93e7b1331242db4b6_1661081153.jpg" alt=""
                    class="border-b p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/cover/a065d67b1d8e29bd888f70c9d2507f684d046459_1661267856.jpg" alt=""
                    class="border-l p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/cover/d12bcf566ad67e0a257850dc924279106993eb65_1661180947.jpg" alt=""
                    class="p-3">
            </a>
        </div>

        <div class="flex items-center justify-center gap-x-1  cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>
            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data" class="w-3 h-3 text-[#19bfd3]">
                
            </span>
        </div>

    </div>

    <!-- col-3 -->
    <div class="mahsolate-iteams">
        <div>
            <h3 class="text-xl mb-2">هدفون ،هدست و هندزفری</h3>
            <span>بر اساس بازدیدهای شما</span>
        </div>

        <div class="grid grid-cols-2 ">
            <a href="#">
                <img src="../dist/img/more/headphone/2eb81b453236bf344dbac1c6b63b0c7be632763f_1606244025.jpg"
                    alt="" class="border-l border-b p-3">
            </a>

            <a href="#">
                <img src="../dist/img/more/headphone/50e70cb79e33843c55efd6e60985f914716ac8ef_1627128170.jpg"
                    alt="" class="border-b p-3">
            </a>

            <a href="#">
                <img src="../dist/img/more/headphone/c2ca6b8c3cb72b5db2d6c7fa7eba2cb868659200_1660392399.jpg"
                    alt="" class="border-l p-3">
            </a>

            <a href="#">
                <img src="../dist/img/more/headphone/e4b2145a5e77bdc30aafff78bba4734798ac8d68_1620202335.jpg"
                    alt="" class="p-3">
            </a>
        </div>

        <div class="flex items-center justify-center gap-x-1  cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>
            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data" class="w-3 h-3 text-[#19bfd3]">
                
            </span>
        </div>

    </div>

    <!-- col-4 -->
    <div class="p-5  space-y-3">
        <div>
            <h3 class="text-xl mb-2">ساعت هوشمند</h3>
            <span>بر اساس بازدیدهای شما</span>
        </div>

        <div class="grid grid-cols-2  ">
            <a href="#">
                <img src="../dist/img/more/watch/760c0407a514c473eb40542cc8b3d5ee988f1ca2_1661263829.jpg" alt=""
                    class="border-l border-b p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/watch/8c7d843d1d143250d7eb02fff08e10c149ac1dd6_1656931467.jpg" alt=""
                    class="border-b p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/watch/9a2f4ba8aaad117cbe779f75a7c785354aef7f90_1656931870.jpg" alt=""
                    class="border-l p-3">
            </a>
            <a href="#">
                <img src="../dist/img/more/watch/cad12fc4083b81ec7cb48d5981d4dbd029297dfd_1675414169.jpg" alt=""
                    class="p-3">
            </a>
        </div>

        <div class="flex items-center justify-center gap-x-1  cursor-pointer">
            <span class="text-[#19bfd3]">مشاهده </span>
            <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data" class="w-3 h-3 text-[#19bfd3]">
                
            </span>
        </div>

    </div>

</div>