<h1 class="text-center text-2xl mb-4">پیشنهاد دیجی کالا</h1>

<div class="public-card grid grid-rows-2  grid-flow-col items-center overflow-x-hidden  relative  ">

    <!-- chevron-right -->
    <div class="slider-arrow text-[#ababbb] right-2">
        <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-right-svg.html')).data" class="w-4 h-4">

        </span>


    </div>

    <!-- chevron-left -->
    <div class="slider-arrow text-[#ababbb] w-auto h-auto left-2">
        <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data" class="w-4 h-4">

        </span>

    </div>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/ec9a962187e1f82cc47e7a148ef99ec1c6fd024d_1656423336.jpg"
                class="backdrop-brightness-50" alt="گوشی موبایل">

        </div>
        <span>گوشی موبایل</span>
    </a>

    <a href="#">
        <div class="box-content">
            <img src="../dist/img/pishnahad/e4b2145a5e77bdc30aafff78bba4734798ac8d68_1620202335.jpg" alt="هدفن">

        </div>
        <span>هدفن، هدست و ...</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/d0187bec8f8b7325dd61934b86481218758d9bdd_1605029963.jpg" alt="اسباب بازی">
        </div>
        <span>اسباب بازی</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/bf7d597a5b49dbfa59597cdbaf501c7fc90c4b02_1661157451.jpg"
                alt="کیف و کاور گوشی">
        </div>
        <span>کیف و کاور گوشی </span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/b28c028eb993ec44f4ee2e821eb9281ff5ca1047_1624691967.jpg"
                alt="کیبورد (صفحه کلید)">
        </div>
        <span>کیبورد (صفحه کلید)</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/00845e59213bb59ddb870b35c85f32f7ae5afd4f_1605104492.jpg" alt="کنسول خانگی">
        </div>
        <span>کنسول خانگی</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/9a2f4ba8aaad117cbe779f75a7c785354aef7f90_1656931870.jpg" alt="ساعت هوشمند">
        </div>
        <span>ساعت هوشمند</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/952846ce0daa59d5824d72903c4c8dec32904de8_1654074725.jpg" alt="تبلت">
        </div>
        <span>تبلت</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/5c68a169df2e9495f2798427ae844ca49e5d7158_1640586719.jpg"
                alt="دستگاه بخور و رطوبت">
        </div>
        <span>دستگاه بخور و رطوبت</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/114924947.jpg" alt="آشنایی با فنون">
        </div>
        <span>آشنایی با فنون</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/5b1029ced403ac3a2f28284e703b9b757b8685d2_1671468310.jpg"
                alt="لپ تاپ و الترابوک">
        </div>
        <span>لپ تاپ و الترابوک</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/537140d50eb3a917f4f621041a32d5bd57cdca70_1644384374.jpg" alt="جوراب زنانه">
        </div>
        <span>جوراب زنانه</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/4840dc8cbd62ec7e9ac901e542cf32ce7e39a213_1636549953.jpg" alt="اسپیکر">
        </div>
        <span>اسپیکر (بلندگو)</span>
    </a>

    <a href="#">
        <div>
            <img src="../dist/img/pishnahad/2b7a3b325bc091e1792ab1e6f6747c7397b6a430_1614536233.jpg"
                alt="موس (موشواره)">
        </div>
        <span>موس (موشواره)</span>
    </a>


</div>