<div class="public-card py-5 px-3 mt-7 relative">

    <div class="flex justify-center items-center relative">
        <h3 class=" text-3xl  ">پرفروشترین کالاها </h3>
        <a href="#" class=" text-base text-[#19bfd3] left-3 absolute ">مشاهده همه</a>

    </div>
    <!-- arrow-right -->
    <div class="slider-arrow text-[#ababbb] bottom-44 right-4 ">
        <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-right-svg.html')).data" class="w-4 h-4">

        </span>
    </div>
    <!-- arrow-left -->
    <div class="slider-arrow text-[#ababbb] bottom-44 left-4">
        <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data" class="w-4 h-4">

        </span>

    </div>

    <!-- grid-cols-4 grid-rows-3 grid-flow-col-->
    <div id="porfroshtarin-item"
        class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-2  lg:grid-cols-4   gap-2 pt-3 items-center ">


        <div class="grid grid-rows-3 grid-flow-col  gap-3 pt-3 items-center">
            <!-- item 1 -->
            <a href="#" class="p-2 ">
                <div>
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/e4b2145a5e77bdc30aafff78bba4734798ac8d68_1620202335 (1).jpg"
                                alt="هندزفری">
                        </div>

                        <div class="col-span-1">
                            <span>۱</span>
                        </div>

                        <div class="col-span-7  ">
                            <span class="">هندزفری بلوتوثی مدل 12 inpods </span>

                        </div>
                    </div>
                </div>
            </a>

            <!-- item 2 -->
            <a href="#" class="p-2 ">
                <div>
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/4fd57505f8871f90ba2165c78410caad711ecd8c_1668508568.jpg"
                                alt="">
                        </div>

                        <div class="col-span-1">
                            <span>۲</span>
                        </div>

                        <div class="col-span-7 ">
                            <span>گوشی موبایل مدل شیائومی <bdi>Redmi Note 10 pro </bdi> دو سیم</span>


                        </div>
                    </div>
                </div>
            </a>

            <!-- item 3 -->
            <a href="#" class="p-2 ">
                <div>
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/112360452.jpg" alt="">
                        </div>

                        <div class="col-span-1">
                            <span>۳</span>
                        </div>

                        <div class="col-span-7  ">
                            <span>خودکار فوق روان نانو آنتی باکتریال پنتر مدل Dr.Panter
                            </span>


                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="grid grid-rows-3 grid-flow-col gap-3 pt-2 items-center">
            <!-- item 4 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/81352ba9318e353596ef9c0ce52717ad044606f1_1668511732.jpg"
                                alt="">
                        </div>

                        <div class="col-span-1">
                            <span>۴</span>
                        </div>

                        <div class="col-span-7 ">
                            <span>تونر پاک کننده صورت لافار مدل مولتی اکتیو مناسب پوست های چرب و مختلط
                            </span>


                        </div>
                    </div>
                </a>
            </div>

            <!-- item 5 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/2776164.jpg" alt="">
                        </div>

                        <div class="col-span-1">
                            <span>۵</span>
                        </div>

                        <div class="col-span-7 ">
                            <span>پایه نگهدارنده گوشی موبایل و تبلت یونیور سال مدل ۲۷۰ درجه </span>


                        </div>
                    </div>
                </a>
            </div>

            <!-- item 6 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/114356296.webp" alt="">
                        </div>

                        <div class="col-span-1">
                            <span>۶</span>
                        </div>

                        <div class="col-span-7 ">
                            <span>زعفران درجه یک مصطفوی-۴.۶۰۸ گرم </span>


                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="grid grid-rows-3 grid-flow-col gap-3 pt-2 items-center">

            <!-- item 7 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/e06e98875ad5947e50811d75ae940a9a38aaa15f_1678627573.jpg"
                                alt="هدفون">
                        </div>

                        <div class="col-span-1">
                            <span>۷</span>
                        </div>

                        <div class="col-span-7  ">
                            <span>هدفون بلوتوثی کیو سی وای مدل TWS </span>


                        </div>
                    </div>
                </a>
            </div>

            <!-- item 8  -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/08e041d3890d6c2ec6ee6861169b0e2c6475c265_1610280732.webp"
                                alt="کاپوچینو">
                        </div>

                        <div class="col-span-1">
                            <span>۸</span>
                        </div>

                        <div class="col-span-7  ">
                            <span>کاپوچینو تیمز بسته ۲۰ عددی </span>


                        </div>
                    </div>
                </a>
            </div>

            <!-- item 9 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/4780829.webp" alt="پنیر">
                        </div>

                        <div class="col-span-1">
                            <span>۹</span>
                        </div>

                        <div class="col-span-7  ">
                            <span>پنیر تازه پاستوریزه پگاه -۴۵۰ گرم </span>


                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="grid grid-rows-3 grid-flow-col gap-3 pt-2 items-center">
            <!-- item 10 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/120501150.webp" alt="خامه">
                        </div>

                        <div class="col-span-1">
                            <span>۱۰</span>
                        </div>

                        <div class="col-span-7  ">
                            <span> خامه صباح -۲۰۰ میلی لیتر </span>


                        </div>
                    </div>
                </a>
            </div>

            <!-- item 11 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/1fcb0ec9667ecf5fe2d01f8094b731564e5b1123_1652868847.webp"
                                alt="تخم مرغ">
                        </div>

                        <div class="col-span-1">
                            <span>۱۱</span>
                        </div>

                        <div class="col-span-7  ">
                            <span> تخم مرغ تازه پروتانا بسته ۲۰ عددی </span>


                        </div>
                    </div>
                </a>
            </div>

            <!-- item 12 -->
            <div class="p-2 ">
                <a href="#">
                    <div class="grid grid-cols-12 items-center">
                        <div class="col-span-4">
                            <img src="../dist/img/porfroshtarinha/c9d680a6f435a00bb66ce8829c19a40ef5fe4678_1620820609.webp"
                                alt="کره شکلی">
                        </div>

                        <div class="col-span-1">
                            <span>۱۲</span>
                        </div>

                        <div class="col-span-7  ">
                            <span> کره شکلی ۵۰ گرم -بسته ۶ عددی </span>


                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- item 13 -->
        <!-- <div class="p-2 ">
            <a href="#">
                <div class="grid grid-cols-12 items-center">
                    <div class="col-span-4">
                        <img src="../dist/img/porfroshtarinha/838d15530fdf0a0a493bff89fd5bdb8157b87bbf_1596622241 (1).webp"
                             alt="روغن ویتامینه ">
                    </div>

                    <div class="col-span-1">
                        <span >۱۳</span>
                    </div>

                    <div class="col-span-7  ">
                        <span>میلی لیتر روغن ویتامینه کانولا لادن -۹۰۰</span>


                    </div>
                </div>
            </a>
        </div> -->

        <!-- item 14 -->
        <!-- <div class="p-2 ">
            <a href="#">
                <div class="grid grid-cols-12 items-center">
                    <div class="col-span-4">
                        <img src="../dist/img/porfroshtarinha/4773350.webp"
                             alt="دوغ">
                    </div>

                    <div class="col-span-1">
                        <span >۱۴</span>
                    </div>

                    <div class="col-span-7  ">
                        <span>  پگاه مقدار ۲ لیتر دوغ بدون گاز گرمادیده </span>


                    </div>
                </div>
            </a>
        </div> -->

        <!-- item 15 -->
        <!-- <div class="p-2 ">
            <a href="#">
                <div class="grid grid-cols-12 items-center">
                    <div class="col-span-4">
                        <img src="../dist/img/porfroshtarinha/ba11cd2f6770f20aec9222a95dcf75d7f4c9a2c2_1625896416.webp"
                             alt="ماست">
                    </div>

                    <div class="col-span-1">
                        <span >۱۵</span>
                    </div>

                    <div class="col-span-7  ">
                        <span> ماست همزده سبو هراز-۱۸۰۰ گرم </span>


                    </div>
                </div>
            </a>
        </div> -->

        <!-- item 16 -->
        <!-- <div class="p-2 ">
            <a href="#">
                <div class="grid grid-cols-12 items-center">
                    <div class="col-span-4">
                        <img src="../dist/img/porfroshtarinha/4140436.webp"
                             alt="کنسرو ماهی تن">
                    </div>

                    <div class="col-span-1">
                        <span >۱۶</span>
                    </div>

                    <div class="col-span-7  ">
                        <span> کنسرو ماهی تن با شوید طبیعت مقدار ۱۸۰ گرم </span>


                    </div>
                </div>
            </a>
        </div> -->

        <!-- item 17 -->
        <!-- <div class="p-2 ">
            <a href="#">
                <div class="grid grid-cols-12 items-center">
                    <div class="col-span-4">
                        <img src="../dist/img/porfroshtarinha/8ce2e2a0fed26a410dd3d93682dd2aa8ba753bd4_1594018436.webp"
                             alt="دوغ گاز دار">
                    </div>

                    <div class="col-span-1">
                        <span >۱۷</span>
                    </div>

                    <div class="col-span-7  ">
                        <span> دوغ گاز دار تخمیری پگاه مقدار ۲ لیتر </span>


                    </div>
                </div>
            </a>
        </div> -->

        <!-- item 18 -->
        <!-- <div class="p-2 ">
            <a href="#">
                <div class="grid grid-cols-12 items-center">
                    <div class="col-span-4">
                        <img src="../dist/img/porfroshtarinha/112548575.webp"
                             alt="خامه ">
                    </div>

                    <div class="col-span-1">
                        <span >۱۸</span>
                    </div>

                    <div class="col-span-7  ">
                        <span> خامه صبحانه کاله -۲۰۰ میلی لیتر </span>


                    </div>
                </div>
            </a>
        </div> -->


    </div>
</div>