<div>
    <div class="flex relative p-5">
        <h2 class="text-3xl text-center mx-auto ">داغ ترین چند ساعت گذشته </h2>
        <span class="text-lg text-[#19bfd3] absolute left-5">مشاهده همه</span>
    </div>

    <div class="grid grid-rows-3 grid-flow-col gap-4 px-3 py-5">
        <a href="#" class="">
            <img src="../dist/img/daghtarin/b223a96fe836d4b902c9f4c371184dbf1b9aaa3d_1695907471.webp"
                alt="هدست بلوتوثی ریمکس">
            <span>۱</span>
            <p class=""> هدست بلوتوثی ریمکس مدل AirPods Pro2 R120</p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/8bc7e0ed2aa063d6d30c372d6fe08d164eeed701_1643718293.webp"
                alt="عسل طبیعی چهل گیاه ده در">
            <span>۲</span>
            <p> عسل طبیعی چهل گیاه ده در-۸۵۰ گرم</p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/1b882602c9f62f50866795cf870c7a60271ed116_1626167371.jpg"
                alt="آباژور ایستاده ام کی ای لایتینگ مدل آوا">
            <span>۳</span>
            <p>آباژور ایستاده ام کی ای لایتینگ مدل آوا </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/3d9e8d322648be7829ee3d849e451cea55457dd6_1695652741.webp"
                alt="کرم مرطوب کننده آدرا مدل روغن آرگان ">
            <span>۴</span>
            <p>کرم مرطوب کننده آدرا مدل روغن آرگان حجم ۲۰۰ میلی لیتر </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/7fd315020ee91c3c3ba5e9ff74eccc9aa4b42a47_1674296498.webp"
                alt="سرویس پخت و پز ۹ پارچه کاندید مدل اوربیت">
            <span>۵</span>
            <p>سرویس پخت و پز ۹ پارچه کاندید مدل اوربیت </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/838c1cb325c2aee433ccb6d0db12f07b1bb563b0_1672212516.webp"
                alt="دستگاه تصفیه کننده آب هون لند ">
            <span>۶</span>
            <p>دستگاه تصفیه کننده آب هون لند مدل WP9200 </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/adc8966a3ace4101918d514722ff14869c163894_1689677891.webp"
                alt="لپ تاپ ۱۸ اینچی ایسوس ">
            <span>۷</span>
            <p>لپ تاپ ۱۸ اینچی ایسوس مدل ROG Strix SCAR 18 G834JY-N5049-i9 32GB 1SSD </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/f9e554052e7a286ea7aff5e6a5fa3b6032cbf1f1_1681975562.webp"
                alt="اسپیکر بلوتوثی قابل حمل هیسکا">
            <span>۸</span>
            <p>اسپیکر بلوتوثی قابل حمل هیسکا مدل B39 </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/fd227a6d641ae04ab8142d97413dce4029e474d0_1690787595.webp"
                alt="دستگاه جوش 350 آمپر دو ولوم راو ">
            <span>۹</span>
            <p>دستگاه جوش 350 آمپر دو ولوم راو مدل ROVE-350 </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/38a80316a5175016130ee4d150d6e1e885e87ef6_1682327653.webp"
                alt="هدفون بلوتوثی لیتو">
            <span>۱۰</span>
            <p>هدفون بلوتوثی لیتو مدل LB-3 </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/111188674.jpg" alt="پاوربانک بی سیم سامسونگ">
            <span>۱۱</span>
            <p>پاوربانک بی سیم سامسونگ مدل EB-U1200 ظرفیت 10000 میلی آمپر ساعت </p>

        </a>

        <a href="#">
            <img src="../dist/img/daghtarin/4215272.webp" alt="ساعت پروژکتوری">
            <span>۱۲</span>
            <p>ساعت پروژکتوری مدل X Projector </p>

        </a>

    </div>
</div>
