<div class="bg-[#941b80] p-5 flex flex-col md:flex-row">
    <div class="flex flex-col p-5 text-white  ">
        <a href="#">
            <img src="../dist/img/digiplus/digiplus-logo.svg" alt=" لوگو دیجی پلاس">
        </a>
        <span class="my-2 text-lg">خدمات ویژه برای اعضای دیجی پلاس</span>

        <div class="w-32 border rounded-md ">
            <a href="#" class=" flex items-center justify-center py-2 px-4 gap-x-3">
                <span>عضویت</span>
                <span x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/arrow-left-svg.html')).data" class="w-5 h-5 ">
                   
                </span>
            </a>
        </div>
        <img src="../dist/img/digiplus/plus-widget.webp" class="w-auto md:w-80  " alt="دیجی پلاس">
    </div>
    <!-- ===== -->
    <div class="border rounded-xl bg-white p-5  ">
        <div class="flex justify-between mb-5 ">
            <span class="text-lg font-semibold">ارسال فوری رایگان</span>
            <a href="#" class="flex items-center text-[#941b80] gap-x-1">
                <span>مشاهده همه</span>
                <span class="w-3 h-3" x-init="$el.innerHTML=(await axios.get('/digi/src/svgs/chevron-left-svg.html')).data"
             >
        

                </span>
            </a>
        </div>
        <div class="grid  grid-cols-2 grid-rows-6 grid-flow-col md:grid-cols-6 md:grid-rows-2  gap-7">
            <a href="#">
                <img src="../dist/img/digiplus/d2e1434a3846b06a6296e7ad430dd84ad1a3fc65_1641899344.jpg" class="w-36"
                    alt="خودکار فوق روان نانو آنتی باکتریال پنتر">
            </a>

            <a href="#">
                <img src="../dist/img/digiplus/e06e98875ad5947e50811d75ae940a9a38aaa15f_1678627573.webp" class="w-36"
                    alt="هدفون بلوتوثی  کیو سی وای">
            </a>

            <a href="#">
                <img src="../dist/img/digiplus/554d99facee3fc7608d8e904beb2576117517155_1625834766.webp" class="w-36"
                    alt="دفتر مشق مدل ایفل">
            </a>

            <a href="#">
                <img src="../dist/img/digiplus/4727838.webp" class="w-36" alt="پاک کن کنکو مدل color">
            </a>

            <a href="#">
                <img src="../dist/img/digiplus/e653310af0d91f1a1af91ec44fb9a6993e51e38f_1598187909.webp" class="w-36"
                    alt="خودکار کیان نوک ۰.۷ میلی متر">
            </a>
            <a href="#">
                <img src="../dist/img/digiplus/348e17f0fe855cb25127298fd5003460b3d29297_1682344501.webp" class="w-36"
                    alt="Redmi Note 124G گوشی موبایل شیائومی مدل ">
            </a>
            <a href="#">
                <img src="../dist/img/digiplus/112778320.webp" class="w-36" alt="دفتر مشق ۱۰۰ برگ ">
            </a>
            <a href="#">
                <img src="../dist/img/digiplus/81352ba9318e353596ef9c0ce52717ad044606f1_1668511732.webp" class="w-36"
                    alt="تونر پاک کننده صورت لافارر">
            </a>
            <a href="#">
                <img src="../dist/img/digiplus/3a63f670d204d8bb6e8236344f6650a28a93b24c_1694962603.webp" class="w-36"
                    alt="inPods 12 هدفون بلوتوثی مدل ">
            </a>
            <a href="#">
                <img src="../dist/img/digiplus/2113921.webp" class="w-36" alt="کپی مکس  A4 کاغذ ">
            </a>
            <a href="#">
                <img src="../dist/img/digiplus/c8d72580bc307ff23f7049ca89a0e589ab55ccf2_1643431972.webp" class="w-36"
                    alt="خودکار پنتر مدل نانو آنتی باکتریال">
            </a>
            <a href="#">
                <img src="../dist/img/digiplus/71caa840492104dbddd2b74d744542fd5990aa4b_1625997515.webp" class="w-36"
                    alt="فلوئید ضد آفتاب مای">
            </a>



        </div>
    </div>
</div>